@import "~@blueprintjs/core/lib/scss/variables";

.som {
    display: flex;
    // background-color: #BFCCD6;
}

.result {
    width: 100%;
    height: 100%;
    background-color: #10161A;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imviewsvg-render {
    width: 100%;
    height: 100%;

}

.visview {
    padding-top: 40px;
    width: 100%;

}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.imviewgraph-area {
    height: 100%;

}

.imviewgraph-area > div {
    float: left;
    height: 100%;
}

.submenu {
    position: fixed;
    width: 100%;
    background-color: whitesmoke;
    padding: 0px 0px 0px 3px;

    border-bottom: ridge;
    border-bottom-color: #979ea3;
    border-bottom-width: thin;

    border-top: ridge;
    border-top-color: #006195;
    border-top-width:thin;
    height: 40px;
}

.bp3-dark .submenu {
    border-bottom-color: $gray1;
    background-color: $dark-gray1;
    border: 0;
}


.sm-buttong{
    // width: 100%;
    height: 40px;
    padding: 5px 0px 5px 0px;
}
