[run]
source = 
    pysom
    app

omit =
;     # omit anything in a .local directory anywhere
;     */.local/*
;     # omit everything in /usr
;     /usr/*
    *__main__.py
    *__init__.py
;     tests/*.py
;     vis_run.py
    *setup.py

[report]
omit =
;     # omit anything in a .local directory anywhere
;     */.local/*
;     # omit everything in /usr
;     /usr/*
    *__main__.py
    *__init__.py
;     tests/*.py
;     vis_run.py
    *setup.py