@import "~@blueprintjs/core/lib/scss/variables";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: $light-gray5;
}

body .bp3-dark,
html {
    background-color: $dark-gray1;
    color: $light-gray1;
}

.bp3-dark .leftpanel {
    background-color: $dark-gray3;
}
