@import "~@blueprintjs/core/lib/scss/variables";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: $light-gray5;
}

body .bp3-dark,
html {
    background-color: $dark-gray1;
    color: $light-gray1;
}

.bp3-dark .leftpanel {
    background-color: $dark-gray3;
}

#test-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background-color: #000452;
    opacity: 0.8;
    z-index: 9999;
    padding: 10px;
    color: #fff;
}

.test-log-container {
    height: 80%;
    width: 100%;
    display: flex;
}

.test-debug-output {
    flex: 1;
    overflow: scroll;
    padding: 10px;
}

.test-debug-output#debug-output {
    font-size: 20px;
}

.cmd-prompt {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 35px;
    background-color: #000;
    z-index: 10000;
    padding: 0;
    color: #9ACD32;
    font-family: monospace;
}

.cmd-prompt label {
    position: absolute;
    left: 0;
    width: 120px;
    font-size: 20px;
    line-height: 30px;
}

.cmd-prompt input {
    position: absolute;
    left: 115px;
    width: calc(100% - 120px);
    background-color: #000;
    color: #9ACD32;
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
    border: 0;
}
