@import "~@blueprintjs/core/lib/scss/variables";

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: $light-gray5;
}

body .bp3-dark,
html {
    background-color: $dark-gray1;
    color: $light-gray1;
}

.bp3-dark .leftpanel {
    background-color: $dark-gray3;
}

#test-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: #000452;
    opacity: 0.8;
    z-index: 10000;
    padding: 10px;
}

.test-log-container {
    height: 90%;
    width: 100%;
    display: flex;
}

.test-debug-output {
    flex: 1;
    overflow: scroll;
    padding: 10px;
}
