@import "~@blueprintjs/core/lib/scss/variables";

.dd-som {
    // background-color: #669EFF;
    color: white;
    // border-radius: 0.75em;
    // border: 1px solid #293742;
    touch-action: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: move;
}
.svg-box svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.dd-submenu {
    width: 100%;
    height: 100%;
    position: absolute;
}
.svg-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1);
    transform-origin: 0 0;
    overflow: hidden;
}

.drag-drop-box {
    position: relative;
    z-index: 3;
    border: 1px solid #738694;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 40px);
    background-size: 25px 25px;
    background-image: radial-gradient(circle, #1f4b99 1px, rgba(0, 0, 0, 0) 1px);
    top: 40px;
    user-select: none;
}

.bp3-dark .drag-drop-box {
    background-color: $dark-gray2;
    background-image: radial-gradient(circle, #5C7080 1px, rgba(0, 0, 0, 0) 1px);
    border: 0;
}

.som-box {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    padding: 5px;
    transform: scale(1);
    transform-origin: 0 0;
    overflow: hidden;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.editor-edge-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 10px;
}

.editor-edge-item-text {
    padding-top: 5px;
    padding-right: 10px;
    flex-grow: 4;
}

.editor-edge-item-slot {
    width: 70px;
}

// Using ID selector to gai higher priority without !important
.dd-som[id^="ddn_"] {
    .inout_node {
        background-color: #738694;
        width: 100px;
        height: 100px;
    }

    .bypass_node {
        background-color: #202B33 !important;
        width: 50px;
        height: 50px;
    }

    .get_bmu_node {
        background-color: #D9822B !important;
        width: 180px;
        height: 50px;
    }

    .dist_node {
        background-color: #00998C;
        width: 70px;
        height: 100px;
    }

    .concat_node {
        background-color: #00998C;
        width: 70px;
        height: 100px;
    }

    .som_node {
        background-color: #137CBD;
        width: 200px;
        height: 200px;
    }

    .sampler_node {
        background-color: #DB2C6F;
        width: 190px;
        height: 140px;
    }

    .minipatch_node {
        background-color: #00B3A4;
        width: 190px;
        height: 185px;
    }
}
